{{#partial "styles"}}
    <link rel="stylesheet" href="css/styles.css" type="text/css">
{{/partial}}
{{#partial "content"}}
    <section>
        <header>
            <h2><a href="/" class="logo">Home</a></h2>
            <div class="navigation">
                <a href="/">Home</a>
                <a href="/animals">Animals</a>
                <a href="/animal/new">Add Animal</a>
                <a href="#">Services</a>
            </div>
        </header>
        <div class="content">
            <div class="info">
                <h2>WildLife <br><span>Tracker</span></h2>
                <p>The App, wild life tracker is for tracking animal in a park and ensuring their safety while considering the new construction program around the park. It is mainly for protecting animals endangered by the construction.</p>
                <a href="/animal/new" class="info-btn">Get Started</a>
            </div>
        </div>
        <div class="media-icons">
            <a href="https://www.facebook.com/naphtali.makori.1"><i class="fab fa-facebook-f"></i></a>
            <a href="https://twitter.com/naphtalimakori"><i class="fab fa-twitter"></i></a>
            <a href="https://www.instagram.com/_naphtalimakori/"><i class="fab fa-instagram"></i></a>
        </div>
    </section>
{{/partial}}
{{> layout.hbs}}