{{#partial "styles"}}
    <link rel="stylesheet" href="css/styles.css" type="text/css">
{{/partial}}
{{#partial "content"}}
    <section>
        <header>
            <h2><a href="/" class="logo">Home</a></h2>
            <div class="navigation">
                <a href="/">Home</a>

                <a href="/animal/new">Add Animal</a>

            </div>
        </header>

            <div class="container-bunner">
                <div class="rows">
                    <div class="main">
                        <h1 class="headings">WILDLIFE<BR> TRACKER </h1>
                        <button class="btn"> <a href="/animal/new"><p>LET'S GOOOO!</p></a></button>

                    </div>
dd
                </div>
            </div>


    </section>
{{/partial}}
{{> layout.hbs}}